.standartInputStyle {
    outline: none;
    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 1px rgb(0 255 255 / 50%) inset, 5px 5px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    color: #333;
    /*width: 100%;*/
}

.errorInputStyle {
    box-shadow: 1px 3px 3px 1px rgba(255, 0, 12, 0.73) inset, 5px 5px 5px rgb(0 0 0 / 25%);
}
.standartInputStyle:hover {
    box-shadow: 1px 3px 3px 1px rgb(0 255 255 / 50%) inset, 5px 5px 5px rgb(0 0 0 / 25%);
}
.standartInputStyle:focus {
    outline: none;
    box-shadow: 0 3px 3px 3px rgb(0 255 255 / 50%) inset, 5px 5px 5px rgb(0 0 0 / 25%);
}

.inputNotError {

    margin-left: 20px;
    padding: 10px;
    font-size: 20px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px 1px rgb(38, 255, 7) inset, 5px 5px 5px rgb(0 0 0 / 25%);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
    color: #333;
    width: 100px;
}

.inputError {
    display: block;
    margin: 10px 30px;
    font-weight: 900;
    color: rgba(255, 0, 12, 0.74);
    /*opacity: 80%;*/
}